{% extends "manager/base.html" %}

{% block title %}Tasks {{task.id}} output{% endblock %}
{% block name %}Tasks {{task.id}} output{% endblock %}
{% block content %}
<div class="container responsive">


    <div class="row">
        <div class="col-lg-12">
            <p class="page-title lead">
                Output:
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <pre><code class="language-go">
              
            </code></pre>
        </div>
    </div>


{% endblock %}

{% block javascript %}
<!-- Dodajemy skrypt Prism.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-go.min.js"></script>


<script>
    window.addEventListener('load', (event) => {
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    });
</script>

<script type="text/javascript">
    var chatSocket = new WebSocket("ws://localhost:8002/ws/node");

    chatSocket.onopen = function(e) {
        console.log("Połączenie nawiązane");

        // Wyślij komunikat "hello" do serwera zaraz po nawiązaniu połączenia
        sendHelloMessage();
    };

    chatSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        var message = data['message'];
        console.log("Wiadomość z serwera: ", message);

        // Dodawanie wiadomości do elementu <code>
        var codeElement = document.querySelector('code.language-go');
        if (codeElement) {
            codeElement.textContent += message + "\n";
            var container = codeElement.closest('pre');
            if (container) {
                container.scrollTop = container.scrollHeight;
            }
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Połączenie chatSocket zamknięte nieoczekiwanie');
    };

    chatSocket.onerror = function(error) {
        console.error('Błąd w połączeniu WebSocket', error.message);
    };

    // Funkcja do wysyłania komunikatu "hello"
    function sendHelloMessage() {
        // Zakładamy, że serwer oczekuje danych w formacie JSON
        chatSocket.send(JSON.stringify({
            message: "hello"
        }));
    }
</script>


{% endblock %}