{% extends "manager/base.html" %}

{% block title %}Manage node{% endblock %}
{% block name %}Manage node{% endblock %}
{% block content %}
<div class="container">
    <div class="mb-3">
        <a href="#" id="refresh-button" class="btn btn-success">
            <i class="fas fa-sync-alt"></i> Refresh
        </a>
    </div>
    <table id="gpu-table" class="table table-striped table-bordered" data-bs-theme="dark">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>GPU ID</th>
                <th>Node ID</th>
                <th>Brand Name</th>
                <th>GPU Speed</th>
                <th>GPU Utilization</th>
                <th>Is Running Amumax</th>
                <th>Status</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for gpu in gpus %}
            <tr>
                <td>{{ gpu.id }}</td>
                <td>{{ gpu.gpu_id }}</td>
                <td>{{ gpu.node_id.id }}</td>  {# Assuming you want to display the Node ID #}
                <td>{{ gpu.brand_name }}</td>
                <td>{{ gpu.gpu_speed }}</td>
                <td>{{ gpu.gpu_util}}</td>
                <td>{{ gpu.is_running_amumax }}</td>
                <td>{{ gpu.status }}</td>
                <td>{{ gpu.last_update }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">There are no active GPUs.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="/manager/nodes/">Back</a>

    
</div>
{% endblock %}
{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('refresh-button').addEventListener('click', function(e) {
        e.preventDefault();
        fetch("{% url 'refresh_gpus_ajax' node_id=node_id %}?action=refresh_gpus_ajax")
            .then(response => response.json())
            .then(data => {
                updateGPUs(data.gpus);
            })
            .catch(error => console.error('Error:', error));
    });
});

function updateGPUs(gpus) {
    const tableBody = document.getElementById('gpu-table').getElementsByTagName('tbody')[0];
    tableBody.innerHTML = ''; // Wyczyść obecną zawartość tabeli

    gpus.forEach(gpu => {
        let row = tableBody.insertRow();
        row.insertCell(0).innerHTML = gpu.id;
        row.insertCell(1).innerHTML = gpu.gpu_id;
        row.insertCell(2).innerHTML = gpu.node_id;
        row.insertCell(3).innerHTML = gpu.brand_name;
        row.insertCell(4).innerHTML = gpu.gpu_speed;
        row.insertCell(5).innerHTML = gpu.gpu_util;
        row.insertCell(6).innerHTML = gpu.is_running_amumax;
        row.insertCell(7).innerHTML = gpu.status;
        row.insertCell(8).innerHTML = gpu.last_update;
    });
}
</script>
{% endblock %}
