{% extends "manager/base.html" %}

{% block title %}Edit task{% endblock %}
{% block name %}Edit task {{ task.id }}:{% endblock %}
{% block content %}
<div class="container mt-3">
    <form method="post" action="{% url 'task_action_id' 'edit_task' task.id %}">
        {% csrf_token %}
        {{ form.as_p }} <!-- Renderuje każde pole formularza w paragrafie -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'task_list' %}" class="btn btn-secondary">Cancel</a>
    </form>    
</div>
{% endblock %}

